---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Services from '../components/Services.astro';
import Portfolio from '../components/Portfolio.astro';
import ResultadosSection from '../components/ResultadosSection.astro';
import About from '../components/About.astro';
import Process from '../components/Process.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Problem />
    <Services />
    <Portfolio />
    <ResultadosSection />
    <About />
    <Process />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
